[printer]
kinematics: corexy
max_velocity: 400
max_accel: 8000
max_z_velocity: 30
max_z_accel: 500
square_corner_velocity: 5.0

[idle_timeout]
timeout: 1800
gcode:
    TURN_OFF_HEATERS
    M84

[exclude_object]

[force_move]
enable_force_move: True

[gcode_arcs]
resolution: 0.1

[firmware_retraction]
retract_length: 0.4
retract_speed: 30
unretract_speed: 30
