# X axis
[stepper_x]
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400
step_pin: X_STEP
dir_pin: X_DIR
enable_pin: !X_ENABLE
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_speed: 40
homing_retract_dist: 0
position_min: 0
position_max: 350
position_endstop: 350

# Y axis
[stepper_y]
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400
step_pin: Y_STEP
dir_pin: Y_DIR
enable_pin: !Y_ENABLE
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_speed: 40
homing_retract_dist: 0
position_min: 0
position_max: 350
position_endstop: 350

# Z axis (4 motors)
[stepper_z]
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200
step_pin: Z_STEP
dir_pin: Z_DIR
enable_pin: !Z_ENABLE
endstop_pin: Z_STOP
homing_speed: 15
second_homing_speed: 8
homing_retract_dist: 3.0
position_max: 310
position_min: -5

[stepper_z1]
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200
step_pin: Z1_STEP
dir_pin: Z1_DIR
enable_pin: !Z1_ENABLE

[stepper_z2]
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200
step_pin: Z2_STEP
dir_pin: Z2_DIR
enable_pin: !Z2_ENABLE

[stepper_z3]
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
full_steps_per_rotation: 200
step_pin: Z3_STEP
dir_pin: Z3_DIR
enable_pin: !Z3_ENABLE
